*{
    font-family: sans-serif;
}
body{
    background-color: rgb(5, 2, 31);
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
.logo{
    width: 200px;
    height: 200px;
transition: all 0.5ms ease-in-out;
filter: brightness(10%);
}
.logo:hover{
    size-adjust: 50cm;
    filter: brightness(200%);

}
nav{
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    gap: 20px;

}


}
.nav{
    color: rgb(8, 199, 224);
    text-decoration: none;
    transition: all 0.4s ease-in-out;


}
.contact-button:hover{
    background-color: rgb(23, 126, 211);
}
.contact-button{
    background-color: rgb(211, 25, 164);
    color:rgb(4, 16, 51);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.nav:hover{
    text-decoration: solid;
border-radius: 10px;
padding-right: 20px;
padding-left: 20px;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

 #projects-title{
    color: rgb(138, 177, 67);
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    font-weight: 20px;
}

h3{
    color: rgb(12, 230, 12);
    font-size: 1.5rem;
}

p{
    color: lightgreen;
}

.project-image{
    border-radius: 500px;
    width: 20vw;
    float:left;
    margin-right: 10px;
}

.project-content{
    display: flex;
    flex-direction: row;
}

.project-card{
    border: 5px solid transparent;
    border-color: green;
    margin: 30px;
    background-color: darkgray;
    border-radius: 50px;
    padding: 15px;
}

.project-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px 0 rgba(0, 255, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: green;
    p{
        color: white;
    }
    h3{
        color: white;
    }
}